---
import Streaming from "../components/Streaming.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>streaming... </p>
		<Streaming />
	</body>
</html>
